.MainSub {
    margin-left: 600px;
    margin-top: 40px;
}

.MainSub-MainTitle {
    font-size: 50px;
    font-family: "Roboto", sans-serif;
    bottom: 20px;
    position: relative;
}


.ManiSubLine {
    background-color: #ff40b4;
    width: 75%;
    height: 0.1px;
    position: relative;
    right: 550px;
    top: 70px;
}

.MainSubLines {
    background-color: #ff40b4;
    width: 75%;
    height: 0.1px;
    position: relative;
    top: 150px;
    right: 550px;
}

.MainSub-ContentWrapperRight {
    position: relative;
    top: 35px;

}

.MainSub-ContentWrapperLeft {
    position: relative;
    bottom: 25px;

}

.content {
    position: relative;
    top: 120px;
    right: 400px;
    font-family: "Roboto", sans-serif;
    width: 500px;
}

.MainSub-RealTitle {
    font-size: 18px;
    position: relative;
    bottom: 18px;
    right: 135px;
}

.MainSub-Correlate {
    position: relative;
    bottom: 1px;
    right: 135px;
    line-height: 25px;

}

.orangeLine {
    background-color: #ff8300;
    width: 69%;
    height: 1px;
    position: relative;
    bottom: 162px;
    left: 250px;
}

.MainSub-contents {
    position: relative;
    bottom: 60px;
    font-family: "Roboto", sans-serif;
    margin-left: 250px;
    width: 500px;
}

.MainSub-RealTitles {
    font-size: 18px;
    width: 400px;
    position: relative;
    bottom: 75px;
}

.MainSub-Correlates {
    position: relative;
    bottom: 60px;
    line-height: 25px;

}

.orangeLines {
    background-color: #ff8300;
    width: 69%;
    height: 0.1px;
    position: relative;
    bottom: 80px;
    left: 250px;
}

.MainSub-content1 {
    position: relative;
    top: 200px;
    right: 400px;
    font-family: "Roboto", sans-serif;
    width: 670px;
}

.MainSub-RealTitle1 {
    font-size: 18px;
    position: relative;
    bottom: 30px;
    right: 135px;

}

.MainSub-Correlate1 {
    position: relative;
    bottom: 10px;
    line-height: 25px;
    right: 135px;
}

.MainSub-contents2 {
    position: relative;
    top: 10px;
    font-family: "Roboto", sans-serif;
    margin-left: 250px;
    width: 500px;
}

.MainSub-RealTitles2 {
    font-size: 18px;
    position: relative;
    bottom: 70px;

}

.MainSub-Correlates2 {
    position: relative;
    bottom: 55px;
    line-height: 25px;
}


@media only screen and (max-width: 768px) {
    .MainSub-Why {
        position: relative;
        top: 10px;
        left: 80px;
    }

    .MainSub-MainTitle {
        margin-top: 220px;
    }

    .MainSub-ContentWrapperLeft {
        display: grid;
    }

    .MainSub-ContentWrapperRight {
        display: grid;
    }

    .MainSub-RealTitles {
        position: relative;
        bottom: 70px;
    }

    .MainSubLines {
        width: 670px;
    }

    .ManiSubLine {
        width: 670px;
    }

    .orangeLine {
        width: 450px;
        height: 0.1px;
        position: relative;
        bottom: 150px;
    }

    .orangeLines {
        width: 450px;
        height: 0.1px;
        position: relative;
        bottom: 100px;
    }

}

@media only screen and (min-width: 768px) and (max-width:1024px) {

    .MainSub {
        margin-top: 230px;
    }

    .MainSub-Why {
        position: relative;
        bottom: 4px;
        left: 12px;
    }

    .MainSub-MainTitle {
        margin-top: 100px;
    }

    .MainSub-MainTitle {
        position: relative;
        bottom: 25px;
        margin-top: 190px;
    }

    .MainSub-ContentWrapperLeft {
        display: grid;
    }

    .MainSub-ContentWrapperRight {
        display: grid;
        position: relative;
        top: 1px;
    }

    .MainSub-RealTitles {
        position: relative;
        bottom: 60px;
    }

    .ManiSubLine {
        width: 670px;
        position: relative;
        top: 50px;
    }

    .MainSubLines {
        width: 670px;
    }

    .orangeLine {
        width: 550px;
        height: 0.1px;
        position: relative;
        bottom: 140px;
    }

    .MainSub-RealTitles {
        margin-top: 20px;
        position: relative;
        bottom: 70px;
    }

    .orangeLines {
        width: 550px;
        height: 0.1px;
        position: relative;
        bottom: 80px;
    }
}


@media only screen and (min-width: 1024px) and (max-width:1440px) {

    .MainSub {
        margin-top: 120px;
    }

    .MainSub-Why {
        position: relative;
        top: 0px;
        left: 1px;
    }

    .MainSub-Correlates {
        margin-top: 10px;
    }

    .MainSub-MainTitle {
        position: relative;
        bottom: 25px;
    }

    .MainSub-ContentWrapperLeft {
        display: grid;
    }

    .MainSub-ContentWrapperRight {
        display: grid;
        position: relative;
        top: 28px;
    }

    .MainSub-RealTitles {
        position: relative;
        bottom: 60px;
    }

    .MainSubLines {
        width: 680px;

    }

    .ManiSubLine {
        width: 680px;
        position: relative;
        bottom: 15px;
    }

    .orangeLine {
        width: 550px;
        height: 0.1px;
        position: relative;
        bottom: 150px;
    }

    .orangeLines {
        width: 550px;
        height: 0.1px;
        position: relative;
        bottom: 85px;
    }
}